.technologies {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
	font-size: 1.5rem;
	width: 75%;
	margin: 50px auto;

	p {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 5px;
			width: 100%;
			border-radius: 1.5px;
			filter: blur(2px);
		}
	}

	p:nth-of-type(1) {
		&::after {
			background: linear-gradient(90deg, #fff, #000);
		}
	}

	p:nth-of-type(2) {
		&::after {
			background: linear-gradient(90deg, #563d7c, #ffffff);
		}
	}

	p:nth-of-type(3) {
		&::after {
			background: linear-gradient(90deg, #61dbfb);
		}
	}

	p:nth-of-type(4) {
		&::after {
			background: linear-gradient(90deg, #cc6699);
		}
	}

	p:nth-of-type(5) {
		&::after {
			background: linear-gradient(
				90deg,
				#264de4,
				#2965f1,
				#ebebeb,
				#ffffff,
				#000000
			);
		}
	}

	p:nth-of-type(6) {
		&::after {
			background: linear-gradient(
				90deg,
				#000000,
				#e34c26,
				#f06529,
				#ebebeb,
				#ffffff
			);
		}
	}

	p:nth-of-type(7) {
		&::after {
			background: linear-gradient(90deg, #303030, #68a063, #3c873a);
		}
	}

	p:nth-of-type(8) {
		&::after {
			background: linear-gradient(90deg, #ffffff);
		}
	}

	p:nth-of-type(9) {
		&::after {
			background: linear-gradient(90deg, #f0db4f, #323330);
		}
	}

	p:nth-of-type(10) {
		&::after {
			background: linear-gradient(90deg, #007acc, #fff);
		}
	}

	p:nth-of-type(11) {
		&::after {
			background: linear-gradient(
				90deg,
				#4b8bbe,
				#306998,
				#ffe873,
				#ffd43b,
				#646464
			);
		}
	}

	p:nth-of-type(12) {
		&::after {
			background: linear-gradient(
				90deg,
				#4db33d,
				#3fa037,
				#e8e7d5,
				#3f3e42,
				#c1bebc
			);
		}
	}

	// OK
	p:nth-of-type(13) {
		&::after {
			background: linear-gradient(
				90deg,
				#f24e1e,
				#ff7262,
				#a259ff,
				#1abcfe,
				#0acf83
			);
		}
	}

	p:nth-of-type(14) {
		&::after {
			background: linear-gradient(
				90deg,
				#211f1f,
				#f4cbb2,
				#ad5c51,
				#ffffff,
				#9cdaf1,
				#7dbbe6
			);
		}
	}

	p:nth-of-type(15) {
		&::after {
			background: linear-gradient(90deg, #f1502f, #3e2c00);
		}
	}
}

@media screen and (width < 808px) {
	.technologies {
		width: 100%;
	}
}
