@use "./../../scss/mixins" as *;

.header {
	min-height: 60px;
	position: fixed;
	bottom: 10px;
	left: 50%;
	width: max-content;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column-reverse;
	background: rgba(0, 0, 0, 0.107);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	border-radius: 25px;
	transition: all 0.3s;
}

.header--active {
	width: calc(100% - 20px) !important;
}

.header__inner {
	min-height: 60px;
	padding: 10px;
	@include flex-between-center;
	gap: 20px;
}

.header__active-page {
	display: none;
}

.header--hide {
	bottom: -60px;
}

.header__logo-link {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: #fff;
	font-weight: 500;

	span {
		font-weight: 300;
	}
}

.header__nav {
	display: flex;
	gap: 20px;
}

.header__nav-link {
	color: #fff;
}

@media screen and (width <= 600px) {
	.header {
		width: 300px;

		&:hover {
			width: calc(100% - 20px);
		}
	}

	.header__logo-title {
		display: none;
	}

	.header__nav {
		display: none;
	}

	.header__active-page {
		display: initial;
	}
}
