header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 60px;
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header__logo {
	height: 40px;
	display: flex;
	// justify-content: center;
	align-items: center;
}

.header__logo-link {
	font-size: 1.5rem;
	color: #000;
	font-weight: 500;

	span {
		font-weight: 300;
	}
}
