.burger-menu {
	display: grid;
	grid-template-rows: 0fr;
	overflow: hidden;
	transition: all 0.3s;
}

.burger-menu--active {
	margin-top: 10px;
	grid-template-rows: 1fr;
}

.burger-menu__nav {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.burger-menu__nav-link {
	color: #fff;
	font-size: 1.5rem;
	padding: 5px 10px;
	border-radius: 20px;
	transition: all 0.3s;

	&:hover {
		background: rgba(255, 255, 255, 0.2);
	}
}
