@use "./../../scss/mixins" as *;

.works__list {
	display: flex;
	flex-direction: column;
}

.works__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.work {
	@include flex-between-center;
	padding: 20px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	transition: all 0.3s;

	&:hover {
		padding: 20px 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
}

.work__grid {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.work__img {
	border-radius: inherit;
}

.work__details {
	@include flex-start-center;
	gap: 5px;
}

.work__details-grid {
	@include flex-between-center;
}

.work__icon {
	border-radius: 50%;
}

.project__link {
	margin-left: auto;
	transition: color 0.3s;

	&:hover {
		color: hsl(0, 0%, 50%);
	}
}

@media screen and (width <=1000px) {
	.works__grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (width <=600px) {
	.works__grid {
		grid-template-columns: repeat(1, 1fr);
	}
}
