@use "./../../scss/mixins" as *;

.works {
	display: flex;
	flex-direction: column;
}

.work {
	@include flex-between-center;
	padding: 20px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	transition: all 0.3s;

	&:hover {
		padding: 20px 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
}

.work__img {
	border-radius: inherit;
}

.work__details {
	@include flex-start-center;
	gap: 5px;
}

.work__icon {
	border-radius: 50%;
}

.project__link {
	margin-left: auto;
	transition: color 0.3s;

	&:hover {
		color: hsl(0, 0%, 50%);
	}
}
