.page-nav__link {
	color: hsl(0, 0%, 50%);

	&:hover {
		color: var(--accent-clr);
	}
}

.project-page {
	padding: 20px;
}

.project-page__title {
	font-size: 2rem;
	color: #fff;
	margin-bottom: 20px;
}

// .project-page__img-wrapper {
// 	transform: scale(0);
// 	overflow: hidden;
// 	position: relative;
// 	animation: revealImg 2s forwards cubic-bezier(0.75, 0.5, 0.25, 1);
// }

// .project-page__img {
// 	transform: scale(3);
// 	animation: revealImg 2s forwards cubic-bezier(0.75, 0.5, 0.25, 1);
// }

// @keyframes revealImg {
// 	to {
// 		transform: scale(1);
// 	}
// }

// .project-page__img-wrapper {
// 	overflow: hidden;
// 	position: relative;
// 	transform: scale(0);
// 	animation: revealWrapper 2s forwards cubic-bezier(0.75, 0.5, 0.25, 1);
// }

// .project-page__img {
// 	width: 100%;
// 	height: auto;
// 	transform: scale(1); /* stays constant */
// }

// @keyframes revealWrapper {
// 	to {
// 		transform: scale(1);
// 	}
// }

.project-page__img {
	clip-path: inset(50% 50% 50% 50%);
	margin-bottom: 10px;
	width: 100%;
	aspect-ratio: 1/1;
}

.project-page__img-wrapper--active {
	clip-path: inset(0 0 0 0);
	transition: all 2s cubic-bezier(0.75, 0.5, 0.25, 1);
}

.img-flex {
	// display: flex;
	// flex-direction: column;
	// gap: 500px;
}

/* reveal mask left → right */
@keyframes revealWrapper {
	from {
		// TODO: 100% means full size from all sides
		clip-path: inset(50%);
	}
	to {
		clip-path: inset(0);
	}
}
@media screen and (width < 808px) {
	.project-page {
		padding: 10px;
	}
}
