.page-nav__link {
	color: hsl(0, 0%, 50%);

	&:hover {
		color: var(--accent-clr);
	}
}

.project-page {
	padding: 20px;
}

.project-page__title {
	font-size: 2rem;
	color: #fff;
	margin-bottom: 20px;
}

.project-page__img {
	opacity: 0;
	transform: scale(0.1);
	animation: revealImg 2s forwards cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes revealImg {
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@media screen and (width < 808px) {
	.project-page {
		padding: 10px;
	}
}
